body {
    background-color: #e8e5e0;
    max-width: 750px;
    margin: auto;
    padding: 1em;
  }
  header {
    background-color: #fd8c3e;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.5em;
  }
  .image {
    margin: 0 auto;
    border: solid 3px #223c5f; 
    color: #223c5f; 
  
    
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #223c5f;
    width: 100%;
    padding: 10px;
  }
  h2 {
    margin: 80px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #223c5f;
    color: #223c5f; 
  }
  ul {
    margin: 80px;
    margin-top: -65px;
    color: #223c5f; 
    font-family: 'Montserrat', sans-serif; 
  }
  footer {
    padding: 20px;
    background-color: #fd8c3e;
    text-align: center;
    border-radius: 20px;
    color: #223c5f; 
  }
  