/* style for the font of the page*/

h1{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

h3{
    font-size:1.8em ;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.sub-header{
    font-size:0.8em ;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  
}

 /*Style for the logo and how the image will diaplay*/

img{
    display:block;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    
}

/*Style for the header*/

header{
    background-color:#D8E6F2;
    padding: 0.8em;
}
 /*Style for the navigation, how will display, and the responsive for mobile*/



nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
 
}

nav{
   clear:left;
   background-color:#708C64;
   font-family: 'Montserrat', sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgb(0,0,0,0.5);
}


nav ul li.active{
   
    background-color: white ;
    color: white;
   
}


nav ul li a:hover{
    background-color:#AED99A ;
}

 
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Content*/

  .contentbox{
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #AED99A;
    color: #0C1618;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
  }


  /*Footer*/

  .footer{
      background-color:#D8E6F2;
      padding: 0.8em;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      text-align: center;


  }
    
  /*Link del footer*/

  a.link{
      text-decoration: none;
      color: white;
      
  }

  a:hover{
      background-color: #f8961e  ;
  }
 
  nav ul.hide{
      display: none;
  }