
h1{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

h2{
    font-size:1.8em ;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.sub-header{
    font-size:0.8em ;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  
}

header{
    background-color:#D8E6F2;
    padding: 0.8em;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
 
}

nav{
   background-color:#708C64;
   font-family: 'Montserrat', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgb(0,0,0,0.5);
}


nav ul li.active{
   
    background-color: #708C64;
    color: white;
   
}


nav ul li a:hover{
    background-color:#AED99A ;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .contentbox{
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: #AED99A;
    color: #0C1618;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 1px dashed #000; 
    
  }


  .footer{
      background-color:#D8E6F2;
      padding: 0.8em;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      text-align: center;


  }
    

  a.link{
      text-decoration: none;
      color: white;
      
  }

  a:hover{
      background-color: white;
  }
 
  nav ul.hide{
      display: none;
  }

  .logobox,
  img {
    width: 150px;
    height: auto;
    display: block;
  }

  .herodiv {
      margin: 10px auto;
      position: relative;
  }

  .stats {
      position: absolute; 
      top: 18px;
      right: 18px;
      background: radial-gradient(#eee, #4567aa);
      border: 3px solid #ccc;
      border-radius: 1em;
      padding: .5rem;
      box-shadow: 0 0 30px #111;
      opacity: .8;
  }
  .img-principal {
    border: 3px solid #ccc;
    border-radius: 1em; 
    width: 100%;
    height: 300px;
  }
  .stats h2 {
    font-size: 15px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px black;
}

.stats p {
    font-size: 10px;;
}

header,
  nav,
  main,
  footer {
      max-width: auto;
      margin: 0 auto;
  }